@use "lib/viewport";

// Desktop: Hide our custom button
.mobile-auth-button {
  display: none;
}

@if $hide_login_button_icon == "true" {
  .mobile-auth-button .d-icon-user {
    display: none;
  }
}

@include viewport.until(md) {
  .auth-buttons {
    display: none !important;
  }

  .anon {
    .mobile-auth-button {
      display: inline-flex; 
    }
    
    .d-header .contents > *:has(.mobile-auth-button) {
      margin-left: auto;
      margin-right: 0.5em; 
    }
    
    .d-header .panel {
      margin-left: 0;
    }
  }
}
